div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

p {
    font-family: "Trebuchet MS", sans-serif;
}

a:link, a:visited {
    color: #0645AD;
    text-decoration: none;
}

a:hover, a:active {
    color: #0645AD;
    text-decoration: underline;
}
